@media (max-width: 1140px){
    .container{
        width: 1000px;
    }

    .best .container .best-title {
        padding: 10px 280px;
        font-size: 50px;
    }

    .best-item {
        width: 250px;
    }
}



@media (max-width: 1000px){
    .container{
        width: 960px;
    }
    .comp{
        width: 980px;
    }
    .best .container .best-title {
        padding: 10px 250px;
        font-size: 50px;
    }

    .easy .pic-1 {
        width: 500px;
        height: 350px;
    }
    .easy .pic-2 {
        width: 500px;
        height: 350px;
    }
    .save {
        background-size: 200px 300px;
    }
}

@media (max-width: 980px){
    .container{
        width: 940px;
    }

    .best .container .best-title {
        padding: 10px 250px;
        font-size: 50px;
    }

    .comp {
        width: 900px;
    }

    .play {
        top: 200px;
        left: 450px;
    }

    .save {
        background-size: 250px 300px;
    }
}

@media (max-width: 940px){
    .container{
        width: 900px;
    }

    header .container {
        margin-top: 50px;
    }

    header .container .build {
        padding-left: 50px;
    }

    .build .build-title {
        padding-right: 100px;
    }

    .best .container .best-title {
        padding: 10px 220px;
    }

    .drag .container {
        margin-top: 50px;
    }

    .compute{
        padding-left: 70px;
    }

    .feature {
        padding-left: 30px;
    }

    .feature h2 {
        padding-right: 0px;
    }

    .feature p {
        padding-right: 30px;
    }

    .page {
        padding-left: 50px;
    }

    .page h2 {
        font-size: 40px;
    }

    .page p {
        padding-right: 80px;
        padding-top: 20px;
    }

    .save {
        background-size: 200px 280px;
    }
    footer ul li {
        font-size: 12px;
    }
}

@media (max-width: 900px){
    .container{
        width: 860px;
    }

    .build .build-title {
        padding-right: 50px;
    }

    .build-text {
        padding-right: 50px;
    }

    .best-item {
        width: 200px;
    }
    .best-item h3 {
        padding-top: 10px;
    }

    .best-item p {
        padding: 15px 5px;
    }
    .compute img{
        width: 400px;
    }

    .easy .pic-1 {
        width: 346px;
        height: 350px;
        background-image: url(../img/easy-pic-1.png);
        background-size: 300px 400px;
        background-repeat: no-repeat;
    }
    .easy .pic-2 {
        background-image: url(../img/easy-pic-2.png);
        background-size: 500px 400px;
        background-repeat: no-repeat;
    }

    .user-image img{
        width: 350px;
    }

    .question-text {
        padding-top: 20px;
    }

    .question-item {
        width: 300px;
    }

    .question-item h3{
        font-size: 25px;
    }

    .question-list {
        margin-left: 60px;
        justify-content: space-around;
    }
    .comp {
        width: 850px;
    }
}

@media (max-width: 860px){
    .container{
        width: 800px;
    }

    .build .build-title {
        padding-right: 0px;
    }

    .build-text {
        padding-right: 0px;
    }

    .best .container .best-title {
        padding: 10px 150px;
    }

    .comp {
        width: 800px;
    }

    .feature h2 {
        font-size: 40px;
    }
    .feature p {
        padding-right: 0px;
    }

    .easy .easy-text {
        padding: 15px 130px;
    }

}

@media (max-width: 800px){
    .container{
        width: 760px;
    }

    header .container .build {
        padding-left: 10px;
    }

    .build .build-title {
        font-size: 50px
    }

    .comp {
        width: 750px;
    }
    .play {
        width: 80px;
        top: 160px;
        left: 350px;
        padding: 30px;
    }

    .play img{
        margin-right: 20px;
    }

    .feature h2 {
        font-size: 35px;
    }
    .feature p {
        font-size: 14px;
        padding-top: 20px;
    }
}

@media (max-width: 800px){
    .container{
        width: 700px;
    }

    .nav-item {
        font-size: 12px;
    }

    .build .build-title {
        font-size: 40px;
    }
    .build-text {
        font-size: 14px;
    }

    .best .container .best-title {
        font-size: 40px;
        padding: 10px 180px;
    }

    .comp {
        width: 650px;
    }

    .play {
        top: 140px;
        left: 310px;
    }

    .best-item {
        width: 188px;
    }

    .best-item p {
        font-size: 14px;
    }

    .compute {
        padding-left: 0px;
    }

    .easy .easy-title {
        font-size: 40px;
    }

    .easy .easy-text {
        padding: 15px 120px;
        font-size: 14px;
    }

    .easy .pic-1 {
        background-size: 273px 400px;
    }

    .user-image img {
        width: 320px;
    }

    .page {
        padding-left: 40px;
    }

    .page p {
        padding-right: 20px;
        padding-top: 20px;
        font-size: 14px;
    }

    .question-title {
        font-size: 40px;
    }

    .question-list {
        margin-left: 0px;
    }

    .save .container h2{
        font-size: 40px;
    }
}

@media (max-width: 700px){
    .container{
        width: 660px;
    }

    .omega{
        font-size: 30px;
    }

    header .container {
        margin-top: 30px;
    }

    .build .build-title {
        font-size: 35px;
    }
    header .container {
    margin-top: 50px;
    }

    header .container .oval {
        background-size: 313px 316px;
        background-position: 21px 132px;
    }
    header .container .form{
        width: 258px;
    }
    .form input {
        padding: 15px 26px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 10px 180px;
    }
    
    .best-item {
        width: 176px;
    }

    .compute img {
        width: 324px;
    }

    .feature p {
        font-size: 13px;
    }

    .easy .easy-title {
        font-size: 35px;
    }

    .easy .easy-text {
        font-size: 13px;
    }

    .easy .pic-1 {
        background-size: 254px 302px;
    }

    .easy .pic-2 {
        background-size: 348px 304px;
    }

    .page h2 {
        font-size: 35px;
    }

    .page p {
        font-size: 12px;
    }

    .page .page-link {
        padding: 7px;
    }

    .question-title {
        font-size: 35px;
    }

    .question-item {
        width: 285px;
    }
    .question-item p{
        font-size: 12px;
    }
        
    footer ul li {
        font-size: 10px;
    }

}

@media (max-width: 660px){
    .container{
        width: 600px;
    }

    header .container .build {
        padding-left: 0px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 142px;
    }

    .comp {
        width: 569px;
    }

    .play {
        top: 127px;
        left: 271px;
        padding: 29px;
    }

    .best-item {
        width: 150px;
    }

    .best-item p {
        font-size: 12px;
    }

    .feature {
        padding-left: 0px;
    }

    .easy .easy-text {
        font-size: 11px;
    }

    .easy .pic-1 {
        background-size: 226px 280px;
    }

    .easy .pic-2 {
        background-size: 311px 280px;
    }

    .page h2 {
        font-size: 30px;
    }

    .page {
        padding-left: 9px;
    }

    .user-image img {
        width: 290px;
    }

    .question-title {
        font-size: 30px;
    }

    .question-text {
        font-size: 12px;
    }

    .question-item {
        width: 258px;
    }

    .question-item p {
        font-size: 10px;
    }

    .save .container h2 {
        font-size: 35px;
    }

    .save {
        background-size: 165px 280px;
    }

    footer ul li {
        font-size: 7px;
    }
}

@media (max-width: 600px){
    .container{
        width: 560px;
    }

    nav .container .get {
        padding: 6px 8px;
    }

    header .container {
        margin-top: 20px;
    }

    header .container .oval {
        background-size: 264px 250px;
        background-position: 23px 153px;
    }

    header .container .form {
        width: 214px;
    }

    .form input {
        padding: 10px 4px;
    }

    .form select {
        padding: 10px 36px;
    }

    .form button {
        padding: 12px 31px;
    }

    .build .build-title {
        font-size: 30px;
    }

    .build-text {
        font-size: 12px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 113px;
    }

    .best-item {
        width: 144px;
    }

    .best-item h3 {
        font-size: 18px;
    }

    .best-item p {
     font-size: 12px;
        line-height: 20px;
    }

    .compute img {
        width: 290px;
    }

    .easy .easy-text {
        padding: 15px 100px;
    }

    .easy .pic-1 {
        background-size: 208px 283px;
    }

    .easy .pic-2 {
        background-size: 285px 280px;
    }

    .user-image img {
        width: 263px;
    }

    .question-item {
        width: 238px;
        line-height: 30px;
    }

    .question-item p {
        line-height: 20px;
    }

    .save .container h2 {
        font-size: 30px;
    }

    .save {
        background-size: 172px 210px;
    }

    footer ul {
        display: block;
    }
    footer ul li {
        font-size: 11px;
    }
}

@media (max-width: 560px){
    .container{
        width: 500px;
    }

    header .container{
        display: block;
        text-align: center;
    }

    header .container .form {
        width: 100%;
    }
    header .container .oval {
        background-size: 403px 387px;
        background-position: 46px 13px;
    }

    .form input {
        padding: 11px 95px;
    }
    .form select {
        padding: 10px 93px;
    }
    .build .build-title {
        font-size: 35px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 73px;
    }

    .comp {
        width: 489px;
    }

    .play {
        top: 108px;
        left: 211px;
        padding: 26px;
    }

    .build-text {
        font-size: 15px;
    }   

    .best-item {
        width: 188px;
    }

    .compute img {
        width: 248px;
        margin-top: 39px;
    }

    .easy .easy-text {
        padding: 15px 64px;
    }
    .easy .pic-1 {
        background-size: 181px 269px;
    }

    .easy .pic-2 {
        background-size: 246px 266px;
    }

    .user-image img {
        width: 232px;
        margin-bottom: 80px;
    }

    .question-item {
        width: 100%;
        text-align: center;
        line-height: 60px;
    }

    footer .container{
        justify-content: space-between;
    }
    
}

@media (max-width: 500px){
    .container{
        width: 460px;
    }

    header .container .build {
        padding-left: 0px;
        width: 100%;
    }
    .form input {
        width: 100%;
    }

    header .container .oval {
        background-size: 403px 387px;
        background-position: 30px 13px;
    }

    .comp {
        width: 448px;
    }

    .play {
        top: 98px;
        left: 195px;
        padding: 22px;
        width: 62px;
    }

    .drag .container {
        margin-top: 10px;
        display: block;
    }

    .compute img {
        width: 100%;
        margin-top: 0
    }
    .feature {
        width: 100%;
        text-align: center;
    }

    .easy .pic-1 {
        background-size: 162px 269px;
    }

    .easy .pic-2 {
        background-size: 222px 266px;
    }

    .easy .pic-1 {
        height: 235px;
    }

    .easy .pic-2 {
        height: 232px;
    }

    .user .container{
        display: block;
        text-align: center;
    }

    .page{
        width: 100%;
    }

    .user-image img {
        width: 100%;
        margin-bottom: 0px;
    }

    .save-link {
        margin: 20px;
    }

    .save {
        background-size: 125px 158px;
    }

    .save {
        min-height: 258px;
    }

    footer ul{
        width: 180px;
        text-align: center;
    }

    footer .container p{
        font-size: 13px;
    }
}

@media (max-width: 460px){
    .container{
        width: 420px;
    }

    .omega {
        font-size: 35px;
    }

    .nav-list{
        display: none;
    }

    .humburg{
        display: flex;
    }

    .humburg:hover{
        background: blue;
    }

    .build .build-title {
        font-size: 26px;
    }

    header .container .oval {
        background-size: 359px 334px;
        background-position: 27px 72px;
    }

    .form select {
        padding: 10px 88px;
    }

    .best-item {
        width: 100%;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 52px;
    }

    .comp {
        width: 408px;
    }

    .easy .pic-1 {
        background-size: 141px 215px;
        height: 194px;
    }

    .easy .pic-2 {
        background-size: 197px 217px;
        height: 193px;
    }

    .save-link {
        margin: 16px;
    }

    .save .container h2 {
        font-size: 27px;
    }

    footer ul {
        width: 136px;
        text-align: center;
    }

    footer ul li {
        font-size: 9px;
    }
}

@media (max-width: 420px){
    .container{
        width: 380px;
    }

    header .container .oval {
        background-size: 326px 306px;
        background-position: 27px 72px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 35px;
    }

    .form input {
        padding: 11px 69px;
    }

    .form select {
        padding: 10px 66px;
    }

    .comp {
        width: 368px;
    }

    .play {
        top: 87px;
        left: 162px;
        padding: 12px;
        width: 47px;
    }  
    
    .easy .pic-1 {
        background-size: 124px 196px;
        height: 175px;
    }

    .easy .pic-2 {
        background-size: 170px 211px;
        height: 184px;
    }
    .question-item {
        line-height: 40px;
    }

    footer ul li {
        padding: 10px 11px;
    }
    

}

@media (max-width: 380px){
    .container{
        width: 340px;
    }

    header .container .oval {
        background-size: 297px 306px;
        background-position: 19px 72px;
    }

    .form input {
        padding: 11px 48px;
    }

    .form select {
        padding: 10px 45px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 9px 16px;
    }

    .comp {
        width: 329px;
    }

    .play {
        top: 77px;
        left: 155px;
        padding: 8px;
        width: 37px;
    }
    .play img{
        width: 10px;
        margin-right: 0;
    }

    .easy .pic-1 {
        background-size: 104px 160px;
        height: 142px;
    }

    .easy .pic-2 {
        background-size: 146px 162px;
        height: 140px;
    }

    .save {
        background-size: 117px 115px;
        padding-top: 30px;
        min-height: 212px;
    }

    .save .container h2 {
        font-size: 25px;
    }
    footer ul {
        width: 163px;
        text-align: center;
    }

    footer ul li {
        padding: 12px 0;
    }
}
@media (max-width: 340px){
    .container{
        width: 300px;
    }

    header .container .oval {
        background-size: 258px 260px;
        background-position: 19px 119px;
    }

    .save .container h2 {
        font-size: 21px;
    }

    footer ul {
        width: 163px;
        text-align: center;
    }
}

@media (max-width: 300px){
    .container{
        width: 100%;
    }

    footer ul {
        width: 163px;
        text-align: center;
    }
}