@media (max-width: 1140px){
    .container{
        width: 1000px;
    }

    .best .container .best-title {
        padding: 10px 280px;
        font-size: 50px;
    }

    .best-item {
        width: 250px;
    }
}



@media (max-width: 1000px){
    .container{
        width: 960px;
    }
    .comp{
        width: 980px;
    }
    .best .container .best-title {
        padding: 10px 250px;
        font-size: 50px;
    }

    .easy .pic-1 {
        width: 500px;
        height: 350px;
    }
    .easy .pic-2 {
        width: 500px;
        height: 350px;
    }
    .save {
        background-size: 200px 300px;
    }
}

@media (max-width: 980px){
    .container{
        width: 940px;
    }

    .best .container .best-title {
        padding: 10px 250px;
        font-size: 50px;
    }

    .comp {
        width: 900px;
    }

    .play {
        top: 200px;
        left: 450px;
    }

    .save {
        background-size: 250px 300px;
    }
}

@media (max-width: 940px){
    .container{
        width: 900px;
    }

    header .container {
        margin-top: 50px;
    }

    header .container .build {
        padding-left: 50px;
    }

    .build .build-title {
        padding-right: 100px;
    }

    .best .container .best-title {
        padding: 10px 220px;
    }

    .drag .container {
        margin-top: 50px;
    }

    .compute{
        padding-left: 70px;
    }

    .feature {
        padding-left: 30px;
    }

    .feature h2 {
        padding-right: 0px;
    }

    .feature p {
        padding-right: 30px;
    }

    .page {
        padding-left: 50px;
    }

    .page h2 {
        font-size: 40px;
    }

    .page p {
        padding-right: 80px;
        padding-top: 20px;
    }

    .save {
        background-size: 200px 280px;
    }
    footer ul li {
        font-size: 12px;
    }
}

@media (max-width: 900px){
    *{
        border: 1px solid red;
    }
    .container{
        width: 860px;
    }

    .build .build-title {
        padding-right: 50px;
    }

    .build-text {
        padding-right: 50px;
    }

    .best-item {
        width: 200px;
    }
    .best-item h3 {
        padding-top: 10px;
    }

    .best-item p {
        padding: 15px 5px;
    }
    .compute img{
        width: 400px;
    }

    .easy .pic-1 {
        width: 346px;
        height: 350px;
        background-image: url(../img/easy-pic-1.png);
        background-size: 300px 400px;
        background-repeat: no-repeat;
    }
    .easy .pic-2 {
        background-image: url(../img/easy-pic-2.png);
        background-size: 500px 400px;
        background-repeat: no-repeat;
    }

    .user-image img{
        width: 350px;
    }

    .question-text {
        padding-top: 20px;
    }

    .question-item {
        width: 300px;
    }

    .question-item h3{
        font-size: 25px;
    }

    .question-list {
        margin-left: 60px;
        justify-content: space-around;
    }
    .comp {
        width: 850px;
    }
}

@media (max-width: 860px){
    .container{
        width: 800px;
    }

    .build .build-title {
        padding-right: 0px;
    }

    .build-text {
        padding-right: 0px;
    }

    .best .container .best-title {
        padding: 10px 150px;
    }

    .comp {
        width: 800px;
    }

    .feature h2 {
        font-size: 40px;
    }
    .feature p {
        padding-right: 0px;
    }

    .easy .easy-text {
        padding: 15px 130px;
    }

}

@media (max-width: 800px){
    .container{
        width: 760px;
    }

    header .container .build {
        padding-left: 10px;
    }

    .build .build-title {
        font-size: 50px
    }

    .comp {
        width: 750px;
    }
    .play {
        width: 80px;
        top: 160px;
        left: 350px;
        padding: 30px;
    }

    .play img{
        margin-right: 20px;
    }

    .feature h2 {
        font-size: 35px;
    }
    .feature p {
        font-size: 14px;
        padding-top: 20px;
    }
}

@media (max-width: 800px){
    .container{
        width: 700px;
    }

    .nav-item {
        font-size: 12px;
    }

    .build .build-title {
        font-size: 40px;
    }
    .build-text {
        font-size: 14px;
    }

    .best .container .best-title {
        font-size: 40px;
        padding: 10px 180px;
    }

    .comp {
        width: 650px;
    }

    .play {
        top: 140px;
        left: 310px;
    }

    .best-item {
        width: 188px;
    }

    .best-item p {
        font-size: 14px;
    }

    .compute {
        padding-left: 0px;
    }

    .easy .easy-title {
        font-size: 40px;
    }

    .easy .easy-text {
        padding: 15px 120px;
        font-size: 14px;
    }

    .easy .pic-1 {
        background-size: 273px 400px;
    }

    .user-image img {
        width: 320px;
    }

    .page {
        padding-left: 40px;
    }

    .page p {
        padding-right: 20px;
        padding-top: 20px;
        font-size: 14px;
    }

    .question-title {
        font-size: 40px;
    }

    .question-list {
        margin-left: 0px;
    }

    .save .container h2{
        font-size: 40px;
    }
}

@media (max-width: 700px){
    .container{
        width: 660px;
    }

    .omega{
        font-size: 30px;
    }

    header .container {
        margin-top: 30px;
    }

    .build .build-title {
        font-size: 35px;
    }
    header .container {
    margin-top: 50px;
    }

    header .container .oval {
        background-size: 313px 316px;
        background-position: 21px 132px;
    }
    header .container .form{
        width: 258px;
    }
    .form input {
        padding: 15px 26px;
    }

    .best .container .best-title {
        font-size: 35px;
        padding: 10px 180px;
    }
    
    .best-item {
        width: 176px;
    }

    .compute img {
        width: 324px;
    }

    .feature p {
        font-size: 13px;
    }

    .easy .easy-title {
        font-size: 35px;
    }

    .easy .easy-text {
        font-size: 13px;
    }

    .easy .pic-1 {
        background-size: 254px 302px;
    }

    .easy .pic-2 {
        background-size: 348px 304px;
    }

    .page h2 {
        font-size: 35px;
    }

    .page p {
        font-size: 12px;
    }

    .page .page-link {
        padding: 7px;
    }

    .question-title {
        font-size: 35px;
    }

    .question-item {
        width: 285px;
    }
    .question-item p{
        font-size: 12px;
    }
        
    footer ul li {
        font-size: 10px;
    }

}

@media (max-width: 660px){
    .container{
        width: 600px;
    }
}